spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/registration
    driver-class-name: org.postgresql.Driver
    username : medmous
    password: med2004mous

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

